.root {
  display: block;
}

.button {
  border-radius: 8px;
  font-size: 40px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  padding: 6px 0;
  font-family: Rubik, sans-serif;
  transition: all .2s ease;
}

.button:disabled {
  cursor: not-allowed;
}

.button:not(:disabled):active {
  box-shadow: none;
  transform: translateY(5px);
}