body {
  margin: 0;
  font-family: Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

small {
  color: var(--electric-violet)
}

.success {
  color: var(--success);
}

.error {
  color: var(--error);
}

h1 {
  line-height: 0;
  font-size: 36px;
  color: #fff;
}

span {
  text-transform: uppercase;
  color: var(--disabled-text)
}

.active {
  color: var(--success-text);
  font-weight: 700;
}