.root {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  height: 85%;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
}

.exercise {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  width: 75%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.char {
  font-size: 52px;
  font-weight: 700;
  color: var(--body-background);
  display: flex;
  justify-content: center;
  text-shadow: 1px 2px 0 #fff;

}

.error .char {
  color: var(--error-dark);
}

.success .char {
  color: var(--success-dark);
}